<<<<<<< HEAD
<section class="container d-flex flex-wrap justify-content-between">
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}

=======
<section class="container">
    {% include 'posts.html.twig' %}
>>>>>>> 527e5e8c5cd60205e869f80201914c79fcd23796
</section>