<section class="container d-flex flex-wrap justify-content-between">
    <!-- {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %}
    {% include 'posts.html.twig' %} -->

</section>