<section class="container d-flex flex-wrap justify-content-between">
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}
    {% include 'product.html.twig' %}

</section>