<header>
    <div id="first" class="d-flex justify-content-between align-items-center">
        <div id="logo"><img src="media/logo.png" alt="Logo" width="300" height="119"></div>
        <button id="addPost" class="btn">Poster une annonce</button>
    </div>
    <div id="secondary" class="container d-flex justify-content-around">
        <input type="text" name="search" id="search" class="form-control" placeholder="Rechercher">
        <div class="btn-group">
            <button type="button" id="listCategorie" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégorie</button>
            <div class="dropdown-menu dropdown-menu-right">
              {% for category in categories %}
              <button class="dropdown-item" type="button" value="{{ category.name }}">{{ category.name }}</button>
              {% endfor %}
            </div>
          </div>
    </div>
</header>