<div id="modalAdd" class="modalAdd">
    <div id="closeIcon"><img src="../../public/media/cross-icon.png" alt="Icon en forme de croix" width="48" height="48"></div>
    <form>
        <div class="modalDescription">
            <div class="userDescription">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="user_name" placeholder="Mes couilles" required>
                </div>
    
                <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="user_firstname" placeholder="En ski" required>
                </div>
    
                <div class="form-group">
                    <label for="email">Adresse mail</label>
                    <input type="email" class="form-control" id="email" name="user_mail" placeholder="mescouillesenski@example.com" required>
                </div>
    
                <div class="form-group">
                    <label for="phone">Numéro de téléphone</label>
                    <input type="tel" class="form-control" id="phone" name="user_phone" placeholder="0164346007" required>
                </div>
            </div>
    
            <div class="postDescription">
                <div>
                    <div>
                        <div class="form-group">
                            <label for="category">Choissisez une catégorie</label>
                            <select class="form-control" id="category" name="category">
                                {% for category in categories %}
                                    <option value="{{category.name}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="title">Titre de votre annonce</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="TItre de l'annoce" required>
                        </div>
                    </div>

                    <div class="modalPicture">
                        <div class="sectionPicture">
                            <img id="imgPicture" src="media/user_uploads/placeholder.jpg" alt="illustration" width="600" height="398">
                        </div>
                        <label for="file" class="labelFile">Ajouter une image</label>
                        <input type="file" class="buttonFile" id="file" onchange="handleFiles(this.files)" value="placeholder.jpg" name="file">
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Descriptif de votre annonce</label>
                    <textarea class="form-control" id="description" name="description" rows="8" cols="40" placeholder="Descriptif de l'annonce" required></textarea>
                </div>
            </div>
        </div>
        
        <div class="modalPost">
            <div class="g-recaptcha end" data-sitekey="public_key"></div>    
            <input class="btn btn-primary" type="submit" value="Poster l'annonce">    
        </div>
    </form>
</div>