<div id="modalAdd" class="modalAdd">
    <form>
        <div class="modalDescription">
            <div class="userDescription">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" placeholder="Mes couilles">
                </div>
    
                <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" placeholder="En ski">
                </div>
    
                <div class="form-group">
                    <label for="email">Adresse mail</label>
                    <input type="email" class="form-control" id="email" placeholder="mescouillesenski@example.com">
                </div>
    
                <div class="form-group">
                    <label for="phone">Numéro de téléphone</label>
                    <input type="tel" class="form-control" id="phone" placeholder="0164346007">
                </div>
            </div>
    
            <div class="postDescription">
    
            </div>
        </div>
        
        <div class="modalPost">
            <div class="g-recaptcha end" data-sitekey="public_key"></div>    
            <input class="btn btn-primary" type="button" value="Poster l'annonce">    
        </div>
    </form>
</div>